In [1]:
! type test.txt

1,2,3,4
5,6,7,8

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('test.txt')

In [5]:
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
pd.read_csv('test.txt',header = None)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
pd.read_csv('test.txt',names=['x1','x2','x3','x4'])

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>x4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
open('test.txt')

In [13]:
result=pd.read_csv('test.txt')

In [14]:
result

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
result = pd.read_table('test.txt',sep=',')

In [18]:
result

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
result = pd.read_table('test1.txt',sep='\s+')

In [22]:
result

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>x4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
result=pd.read_csv('test1.txt')

In [24]:
result

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x1 x2 x3 x4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1 2 3 4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5 6 7 8</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
df1=pd.read_csv('test1.txt',skiprows=[1,3])

In [28]:
df1

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x1 x2 x3 x4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5 6 7 8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>13 14 15 16</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17 18 19 20</td>
    </tr>
  </tbody>
</table>
</div>

In [36]:
pd.read_excel('km.xlsx',sheetname="Sheet1",nrow=1000)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x1</th>
      <th>x2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>166.388200</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>162.151233</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>163.525933</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>164.735233</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>171.801667</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>197.366227</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>144.208267</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>122.735667</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>116.641667</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>104.357700</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>93.966367</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>98.812060</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>111.754600</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>116.907667</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>132.778300</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>137.214767</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>110.462953</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>166.073567</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>115.067567</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>156.039767</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>137.218233</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>134.771433</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>202.226300</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>173.674733</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>179.136533</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>195.720633</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>164.459933</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>174.402033</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>96.642343</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>133.019253</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>9338</th>
      <td>9339</td>
      <td>99.458980</td>
    </tr>
    <tr>
      <th>9339</th>
      <td>9340</td>
      <td>114.095493</td>
    </tr>
    <tr>
      <th>9340</th>
      <td>9341</td>
      <td>84.916510</td>
    </tr>
    <tr>
      <th>9341</th>
      <td>9342</td>
      <td>124.786400</td>
    </tr>
    <tr>
      <th>9342</th>
      <td>9343</td>
      <td>123.122567</td>
    </tr>
    <tr>
      <th>9343</th>
      <td>9344</td>
      <td>97.554087</td>
    </tr>
    <tr>
      <th>9344</th>
      <td>9345</td>
      <td>159.862163</td>
    </tr>
    <tr>
      <th>9345</th>
      <td>9346</td>
      <td>75.090890</td>
    </tr>
    <tr>
      <th>9346</th>
      <td>9347</td>
      <td>108.693590</td>
    </tr>
    <tr>
      <th>9347</th>
      <td>9348</td>
      <td>82.308513</td>
    </tr>
    <tr>
      <th>9348</th>
      <td>9349</td>
      <td>100.277743</td>
    </tr>
    <tr>
      <th>9349</th>
      <td>9350</td>
      <td>75.942290</td>
    </tr>
    <tr>
      <th>9350</th>
      <td>9351</td>
      <td>58.971357</td>
    </tr>
    <tr>
      <th>9351</th>
      <td>9352</td>
      <td>77.290033</td>
    </tr>
    <tr>
      <th>9352</th>
      <td>9353</td>
      <td>77.083833</td>
    </tr>
    <tr>
      <th>9353</th>
      <td>9354</td>
      <td>82.940387</td>
    </tr>
    <tr>
      <th>9354</th>
      <td>9355</td>
      <td>78.522253</td>
    </tr>
    <tr>
      <th>9355</th>
      <td>9356</td>
      <td>127.911747</td>
    </tr>
    <tr>
      <th>9356</th>
      <td>9357</td>
      <td>61.152163</td>
    </tr>
    <tr>
      <th>9357</th>
      <td>9358</td>
      <td>76.956133</td>
    </tr>
    <tr>
      <th>9358</th>
      <td>9359</td>
      <td>88.565563</td>
    </tr>
    <tr>
      <th>9359</th>
      <td>9360</td>
      <td>92.014937</td>
    </tr>
    <tr>
      <th>9360</th>
      <td>9361</td>
      <td>66.449827</td>
    </tr>
    <tr>
      <th>9361</th>
      <td>9362</td>
      <td>94.559113</td>
    </tr>
    <tr>
      <th>9362</th>
      <td>9363</td>
      <td>125.859290</td>
    </tr>
    <tr>
      <th>9363</th>
      <td>9364</td>
      <td>152.537833</td>
    </tr>
    <tr>
      <th>9364</th>
      <td>9365</td>
      <td>123.413510</td>
    </tr>
    <tr>
      <th>9365</th>
      <td>9366</td>
      <td>79.474820</td>
    </tr>
    <tr>
      <th>9366</th>
      <td>9367</td>
      <td>80.210673</td>
    </tr>
    <tr>
      <th>9367</th>
      <td>9368</td>
      <td>94.285143</td>
    </tr>
  </tbody>
</table>
<p>9368 rows × 2 columns</p>
</div>

In [37]:
pd.read_csv('data.csv')

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Num</th>
      <th>Item</th>
      <th>Driver_Desp_Num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>16</td>
      <td>0</td>
      <td>40</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>1</td>
      <td>41</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18</td>
      <td>0</td>
      <td>42</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20</td>
      <td>1</td>
      <td>46</td>
    </tr>
    <tr>
      <th>4</th>
      <td>21</td>
      <td>0</td>
      <td>47</td>
    </tr>
    <tr>
      <th>5</th>
      <td>22</td>
      <td>0</td>
      <td>49</td>
    </tr>
    <tr>
      <th>6</th>
      <td>23</td>
      <td>1</td>
      <td>50</td>
    </tr>
    <tr>
      <th>7</th>
      <td>27</td>
      <td>0</td>
      <td>58</td>
    </tr>
    <tr>
      <th>8</th>
      <td>28</td>
      <td>1</td>
      <td>59</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>0</td>
      <td>61</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>1</td>
      <td>62</td>
    </tr>
    <tr>
      <th>11</th>
      <td>32</td>
      <td>1</td>
      <td>63</td>
    </tr>
    <tr>
      <th>12</th>
      <td>33</td>
      <td>1</td>
      <td>64</td>
    </tr>
    <tr>
      <th>13</th>
      <td>34</td>
      <td>1</td>
      <td>65</td>
    </tr>
    <tr>
      <th>14</th>
      <td>35</td>
      <td>1</td>
      <td>66</td>
    </tr>
    <tr>
      <th>15</th>
      <td>36</td>
      <td>1</td>
      <td>67</td>
    </tr>
    <tr>
      <th>16</th>
      <td>37</td>
      <td>1</td>
      <td>68</td>
    </tr>
    <tr>
      <th>17</th>
      <td>38</td>
      <td>1</td>
      <td>69</td>
    </tr>
    <tr>
      <th>18</th>
      <td>39</td>
      <td>1</td>
      <td>70</td>
    </tr>
    <tr>
      <th>19</th>
      <td>40</td>
      <td>1</td>
      <td>71</td>
    </tr>
    <tr>
      <th>20</th>
      <td>41</td>
      <td>1</td>
      <td>72</td>
    </tr>
    <tr>
      <th>21</th>
      <td>42</td>
      <td>1</td>
      <td>73</td>
    </tr>
    <tr>
      <th>22</th>
      <td>43</td>
      <td>1</td>
      <td>74</td>
    </tr>
    <tr>
      <th>23</th>
      <td>44</td>
      <td>1</td>
      <td>75</td>
    </tr>
    <tr>
      <th>24</th>
      <td>45</td>
      <td>1</td>
      <td>76</td>
    </tr>
    <tr>
      <th>25</th>
      <td>46</td>
      <td>1</td>
      <td>77</td>
    </tr>
    <tr>
      <th>26</th>
      <td>47</td>
      <td>1</td>
      <td>78</td>
    </tr>
    <tr>
      <th>27</th>
      <td>48</td>
      <td>1</td>
      <td>79</td>
    </tr>
    <tr>
      <th>28</th>
      <td>49</td>
      <td>1</td>
      <td>80</td>
    </tr>
    <tr>
      <th>29</th>
      <td>50</td>
      <td>1</td>
      <td>81</td>
    </tr>
    <tr>
      <th>30</th>
      <td>51</td>
      <td>1</td>
      <td>82</td>
    </tr>
    <tr>
      <th>31</th>
      <td>52</td>
      <td>1</td>
      <td>83</td>
    </tr>
    <tr>
      <th>32</th>
      <td>53</td>
      <td>1</td>
      <td>84</td>
    </tr>
    <tr>
      <th>33</th>
      <td>54</td>
      <td>1</td>
      <td>85</td>
    </tr>
    <tr>
      <th>34</th>
      <td>55</td>
      <td>1</td>
      <td>86</td>
    </tr>
    <tr>
      <th>35</th>
      <td>56</td>
      <td>1</td>
      <td>87</td>
    </tr>
    <tr>
      <th>36</th>
      <td>57</td>
      <td>1</td>
      <td>89</td>
    </tr>
    <tr>
      <th>37</th>
      <td>58</td>
      <td>1</td>
      <td>90</td>
    </tr>
    <tr>
      <th>38</th>
      <td>59</td>
      <td>1</td>
      <td>91</td>
    </tr>
    <tr>
      <th>39</th>
      <td>60</td>
      <td>1</td>
      <td>92</td>
    </tr>
    <tr>
      <th>40</th>
      <td>61</td>
      <td>0</td>
      <td>93</td>
    </tr>
    <tr>
      <th>41</th>
      <td>62</td>
      <td>0</td>
      <td>94</td>
    </tr>
    <tr>
      <th>42</th>
      <td>63</td>
      <td>1</td>
      <td>95</td>
    </tr>
    <tr>
      <th>43</th>
      <td>64</td>
      <td>0</td>
      <td>96</td>
    </tr>
    <tr>
      <th>44</th>
      <td>65</td>
      <td>0</td>
      <td>97</td>
    </tr>
  </tbody>
</table>
</div>

In [38]:
pd.read_csv('data.csv',nrows=10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Num</th>
      <th>Item</th>
      <th>Driver_Desp_Num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>16</td>
      <td>0</td>
      <td>40</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>1</td>
      <td>41</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18</td>
      <td>0</td>
      <td>42</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20</td>
      <td>1</td>
      <td>46</td>
    </tr>
    <tr>
      <th>4</th>
      <td>21</td>
      <td>0</td>
      <td>47</td>
    </tr>
    <tr>
      <th>5</th>
      <td>22</td>
      <td>0</td>
      <td>49</td>
    </tr>
    <tr>
      <th>6</th>
      <td>23</td>
      <td>1</td>
      <td>50</td>
    </tr>
    <tr>
      <th>7</th>
      <td>27</td>
      <td>0</td>
      <td>58</td>
    </tr>
    <tr>
      <th>8</th>
      <td>28</td>
      <td>1</td>
      <td>59</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>0</td>
      <td>61</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
chunker = pd.read_csv('data.csv',chunksize=20)

In [46]:
from pandas import Series,DataFrame

In [50]:
tot = Series([])

In [51]:
data = pd.read_csv('data.csv')

In [52]:
data

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Num</th>
      <th>Item</th>
      <th>Driver_Desp_Num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>16</td>
      <td>0</td>
      <td>40</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>1</td>
      <td>41</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18</td>
      <td>0</td>
      <td>42</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20</td>
      <td>1</td>
      <td>46</td>
    </tr>
    <tr>
      <th>4</th>
      <td>21</td>
      <td>0</td>
      <td>47</td>
    </tr>
    <tr>
      <th>5</th>
      <td>22</td>
      <td>0</td>
      <td>49</td>
    </tr>
    <tr>
      <th>6</th>
      <td>23</td>
      <td>1</td>
      <td>50</td>
    </tr>
    <tr>
      <th>7</th>
      <td>27</td>
      <td>0</td>
      <td>58</td>
    </tr>
    <tr>
      <th>8</th>
      <td>28</td>
      <td>1</td>
      <td>59</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>0</td>
      <td>61</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>1</td>
      <td>62</td>
    </tr>
    <tr>
      <th>11</th>
      <td>32</td>
      <td>1</td>
      <td>63</td>
    </tr>
    <tr>
      <th>12</th>
      <td>33</td>
      <td>1</td>
      <td>64</td>
    </tr>
    <tr>
      <th>13</th>
      <td>34</td>
      <td>1</td>
      <td>65</td>
    </tr>
    <tr>
      <th>14</th>
      <td>35</td>
      <td>1</td>
      <td>66</td>
    </tr>
    <tr>
      <th>15</th>
      <td>36</td>
      <td>1</td>
      <td>67</td>
    </tr>
    <tr>
      <th>16</th>
      <td>37</td>
      <td>1</td>
      <td>68</td>
    </tr>
    <tr>
      <th>17</th>
      <td>38</td>
      <td>1</td>
      <td>69</td>
    </tr>
    <tr>
      <th>18</th>
      <td>39</td>
      <td>1</td>
      <td>70</td>
    </tr>
    <tr>
      <th>19</th>
      <td>40</td>
      <td>1</td>
      <td>71</td>
    </tr>
    <tr>
      <th>20</th>
      <td>41</td>
      <td>1</td>
      <td>72</td>
    </tr>
    <tr>
      <th>21</th>
      <td>42</td>
      <td>1</td>
      <td>73</td>
    </tr>
    <tr>
      <th>22</th>
      <td>43</td>
      <td>1</td>
      <td>74</td>
    </tr>
    <tr>
      <th>23</th>
      <td>44</td>
      <td>1</td>
      <td>75</td>
    </tr>
    <tr>
      <th>24</th>
      <td>45</td>
      <td>1</td>
      <td>76</td>
    </tr>
    <tr>
      <th>25</th>
      <td>46</td>
      <td>1</td>
      <td>77</td>
    </tr>
    <tr>
      <th>26</th>
      <td>47</td>
      <td>1</td>
      <td>78</td>
    </tr>
    <tr>
      <th>27</th>
      <td>48</td>
      <td>1</td>
      <td>79</td>
    </tr>
    <tr>
      <th>28</th>
      <td>49</td>
      <td>1</td>
      <td>80</td>
    </tr>
    <tr>
      <th>29</th>
      <td>50</td>
      <td>1</td>
      <td>81</td>
    </tr>
    <tr>
      <th>30</th>
      <td>51</td>
      <td>1</td>
      <td>82</td>
    </tr>
    <tr>
      <th>31</th>
      <td>52</td>
      <td>1</td>
      <td>83</td>
    </tr>
    <tr>
      <th>32</th>
      <td>53</td>
      <td>1</td>
      <td>84</td>
    </tr>
    <tr>
      <th>33</th>
      <td>54</td>
      <td>1</td>
      <td>85</td>
    </tr>
    <tr>
      <th>34</th>
      <td>55</td>
      <td>1</td>
      <td>86</td>
    </tr>
    <tr>
      <th>35</th>
      <td>56</td>
      <td>1</td>
      <td>87</td>
    </tr>
    <tr>
      <th>36</th>
      <td>57</td>
      <td>1</td>
      <td>89</td>
    </tr>
    <tr>
      <th>37</th>
      <td>58</td>
      <td>1</td>
      <td>90</td>
    </tr>
    <tr>
      <th>38</th>
      <td>59</td>
      <td>1</td>
      <td>91</td>
    </tr>
    <tr>
      <th>39</th>
      <td>60</td>
      <td>1</td>
      <td>92</td>
    </tr>
    <tr>
      <th>40</th>
      <td>61</td>
      <td>0</td>
      <td>93</td>
    </tr>
    <tr>
      <th>41</th>
      <td>62</td>
      <td>0</td>
      <td>94</td>
    </tr>
    <tr>
      <th>42</th>
      <td>63</td>
      <td>1</td>
      <td>95</td>
    </tr>
    <tr>
      <th>43</th>
      <td>64</td>
      <td>0</td>
      <td>96</td>
    </tr>
    <tr>
      <th>44</th>
      <td>65</td>
      <td>0</td>
      <td>97</td>
    </tr>
  </tbody>
</table>
</div>

In [53]:
data.to_csv('out.csv')